{% extends "base.html" %}
{% load static %}
 {% block bootstrap %}
 <link rel="stylesheet" href="">

 {% endblock %}
{% block title %}
  about
{% endblock %}


{% block body %}
<!-- Testimonials Section
================================================== -->
<section id="testimonials">

 <div class="row">
   <div class="col-twelve">
     <h2 class="h01">ABOUT US</h2>
   </div>
 </div>

   <div class="row flex-container">

      <div id="testimonial-slider" class="flexslider">

         <ul class="slides">

            <li>
             <div class="testimonial-author">
                   <img src="{% static "images/avatars/avatar-1.jpg" %}" alt="Author image">
                   <div class="author-info">
                     Mandeep
                     <span class="position">CEO</span>
                   </div>
               </div>

               <p>
              We are not Teachers                                                                                                              We are Awakeners
			  
               </p>
           </li> <!-- /slide -->

            <li>

             <div class="testimonial-author">
                   <img src="{% static "images/avatars/sj.jpg" %}" alt="Author image">
                   <div class="author-info">
                     Sorav
                     <span>CEO</span>
                   </div>
               </div>

               <p>
              Take a simple Idea                                                                                                                       And 
			  Take it seriously. 
               </p>

            </li> <!-- /slide -->

         </ul> <!-- /slides -->

      </div> <!-- /testimonial-slider -->

   </div> <!-- /flex-container -->

</section> <!-- /testimonials -->
{% endblock %}
